:root{
    --main-bg-color: #e9f1fb;
    --name-container-bg-color:#94a3b8;
    --name-container-shadow-color: #64748b;
    --btn-color: #d4d4d4;
    --btn-hover-color: #b1afaf;
    --footer-name-color: rgb(78, 36, 36);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face{
    font-family: mainFont;
    src: url('./font/Colleged.ttf');
}

body{
    font-family: mainFont;
    background-color: var(--main-bg-color);
}

.body-part-conatiner{
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(1rem, 1vh, 2rem);
}

/* Name Text Box */

.name-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: clamp(0.5rem, 1vh, 1.5rem);
    background-color: var(--name-container-bg-color);
    padding: 2vh 2vw;
    padding-bottom: 3vw;
    border-radius: 1rem;
    box-shadow: 0 0 0.4rem var(--name-container-shadow-color);    
}

.enter-name-text{
    font-size: clamp(1.5rem, 2.5vw, 3rem);
    color: black;
}

form{
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, 1.5vh, 1.5rem);
}

#name{
    height: 5.8vh;
    width: 30vw;
    padding: 0.5rem;
    font-size: clamp(1rem, 1.5vw, 2rem);
    border: none;
    font-family: mainFont;
}

form button{
    height: 5.8vh;
    width: 30vw;
    font-size: clamp(1rem, 1.5vw, 2rem);
    font-family: mainFont;
    border: none;
    cursor: pointer;
    background-color: var(--btn-color);
    box-shadow: 0 0 0.78rem var(--name-container-shadow-color);
}

form button:hover{
    /* background-color: var(--btn-hover-color); */
    box-shadow: none;
}

/* User Board Section */

.user-board-arrange-text{
    font-family: mainFont;
    font-size: clamp(1.5rem, 2.5vw, 3rem);
}

.ship-orientation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-top: 2vh;
}

.ship-orientation p{
    font-size: clamp(0.7rem, 1.25vw, 1.5rem);
    font-family: mainFont;
}

.ship-orientation button{
    font-size: clamp(0.7rem, 1.25vw, 1.5rem);
    font-family: mainFont;
    border: none;
    background-color: inherit;
    cursor: pointer;
    color: rgb(76, 135, 183);
}

/* Footer */
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-size: clamp(0.8rem, 1vw, 1.2rem);
}

footer img{
    height: 2rem;
    width: 2rem;
}

footer a{
    text-decoration: none;
    font-size: clamp(0.8rem, 1vw, 1.2rem);
    color: var(--footer-name-color);
}